.env
__pycache__/
resources/

# audio files
*.wav
*.m4a

# ai
ai_models/speaker_identification/data
ai_models/text_generation/test_data
ai_models/voice_cloning/data


# requirements.txt
backend/requirements.txt